{% load static %}


<!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2022 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    
    <!-- JavaScript -->
    <script src="{% static '/admin/assets/js/bundle.js' %}"></script>
    <script src="{% static '/admin/assets/js/scripts.js' %}"></script>
    <script src="{% static '/admin/assets/js/charts/chart-lms.js' %}"></script>

    <link rel="stylesheet" href="{% static '/admin/assets/css/editors/quill.css' %}">
    <script src="{% static '/admin/assets/js/libs/editors/quill.js' %}"></script>
    <script src="{% static '/admin/assets/js/editors.js' %}"></script>
</body>

</html>