{% load static %}


<!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2022 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    
    <!-- JavaScript -->
    <script src="{% static '/admin/assets/js/bundle.js' %}"></script>
    <script src="{% static '/admin/assets/js/scripts.js' %}"></script>
    <script src="{% static '/admin/assets/js/charts/chart-lms.js' %}"></script>
</body>

</html>