{% include "header.html" %} 
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Students / <strong class="text-primary small">Abu Bin Ishtiyak</strong></h3>
                                        </div>
                                        <div class="nk-block-head-content">
                                            <a href="html/lms/students.html" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                            <a href="html/lms/students.html" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap">
                                            <div class="card-inner card-inner-lg">
                                                <div class="tab-content">
                                                    <div class="tab-pan active" id="personal">
                                                        <div class="nk-block-head">
                                                            <div class="nk-block-between d-flex justify-content-between">
                                                                <div class="nk-block-head-content">
                                                                    <h4 class="nk-block-title">Enrolled Courses</h4>
                                                                    <div class="nk-block-des">
                                                                        <p>Basic info, like what Courses they Enrolled now.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tab-actions me-n1">
                                                                    <a class="btn btn-icon btn-trigger" data-bs-toggle="modal" href="#add-couses">
                                                                        <em class="icon ni ni-property-add"></em>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div><!-- .nk-block-head -->
                                                        <div class="nk-block">
                                                            <div class="nk-tb-list border border-light rounded overflow-hidden is-compact">
                                                                <div class="nk-tb-item nk-tb-head">
                                                                    <div class="nk-tb-col">
                                                                        <span class="lead-text">#</span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="lead-text">Courses List</span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="lead-text d-none d-sm-inline">Status</span>
                                                                    </div>
                                                                    <div class="nk-tb-col nk-tb-col-tools">
                                                                        <span class="lead-text">&nbsp;</span>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tb-item">
                                                                    <div class="nk-tb-col"> 1 </div>
                                                                    <div class="nk-tb-col"> Learn Android Development with project </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="badge badge-dot badge-dot-xs bg-success">Active</span>
                                                                    </div>
                                                                    <div class="nk-tb-col nk-tb-col-tools">
                                                                        <ul class="nk-tb-actions gx-1">
                                                                            <li>
                                                                                <a href="#" class="btn btn-sm btn-icon btn-trigger me-n1"><em class="icon ni ni-trash-alt text-danger"></em></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tb-item">
                                                                    <div class="nk-tb-col"> 2 </div>
                                                                    <div class="nk-tb-col"> Learn Android Development with project </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="badge badge-dot badge-dot-xs bg-warning">Pending</span>
                                                                    </div>
                                                                    <div class="nk-tb-col nk-tb-col-tools">
                                                                        <ul class="nk-tb-actions gx-1">
                                                                            <li>
                                                                                <a href="#" class="btn btn-sm btn-icon btn-trigger me-n1"><em class="icon ni ni-trash-alt text-danger"></em></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tb-item">
                                                                    <div class="nk-tb-col"> 3 </div>
                                                                    <div class="nk-tb-col"> Learn Android Development with project </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="badge badge-dot badge-dot-xs bg-danger">Canceled</span>
                                                                    </div>
                                                                    <div class="nk-tb-col nk-tb-col-tools">
                                                                        <ul class="nk-tb-actions gx-1">
                                                                            <li>
                                                                                <a href="#" class="btn btn-sm btn-icon btn-trigger me-n1"><em class="icon ni ni-trash-alt text-danger"></em></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- .nk-block -->
                                                    </div><!-- .tab-pan -->
                                                </div><!-- .tab-content -->
                                            </div><!-- .card-inner -->
                                            {% include 'student-detail-page-sidebar.html' %}
                                        </div><!-- .card-aside-wrap -->
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                {% include "footer.html" %}
    
    <!-- Modal Add Courses -->
    <div class="modal fade" role="dialog" id="add-couses">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-lg">
                    <h5 class="title">Update Profile</h5>
                    <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#courses-01">Courses</a>
                        </li>
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="personal-01">
                            <div class="row gy-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Course to Enrol</label>
                                        <div class="form-control-wrap">
                                            <select class="form-select js-select2" data-placeholder="Select multiple options">
                                                <option value="default_option">UI/UX Design with Adobe XD</option>
                                                <option value="option_select_name">Front-end Web Development with React</option>
                                                <option value="option_select_name">Learn Android Development with project</option>
                                                <option value="option_select_name">Learn PHP Basic to Advance</option>
                                                <option value="option_select_name">Learn Android Development with project</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                            <a href="#" class="btn btn-lg btn-primary">Update Courses</a>
                                        </li>
                                        <li>
                                            <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                                        </li>
                                    </ul>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .tab-pane -->
                    </div><!-- .tab-content -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
    <!-- Modal Alert -->
    <div class="modal fade" id="modalWarning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body modal-body-lg text-center">
                    <div class="nk-modal">
                        <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                        <h4 class="nk-modal-title">Are you sure!</h4>
                        <div class="nk-modal-text">
                            <p class="lead">You can't undo this settings.</p>
                        </div>
                        <div class="nk-modal-action d-flex justify-content-center">
                            <div class="me-4">
                                <a href="#" class="btn btn-lg btn-mw btn-success" data-bs-dismiss="modal">Return</a>
                            </div>
                            <div>
                                <a href="#" class="btn btn-lg btn-mw btn-danger" data-bs-dismiss="modal">Delete</a>
                            </div>
                        </div>
                    </div>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
    {% include "footer.html" %}